<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="/" class="navbar-item"
            ><img src="/static/img/construo.png" height="24px" width="auto" alt="Construo" />
            <span>HDA Workshop</span></a
        >
        <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
            hx-on:click="this.classList.toggle('is-active');document.getElementById('navbarBasicExample')?.classList?.toggle('is-active');"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <a href="/" class="navbar-item">Home</a>
            <a href="/eager" class="navbar-item">Eager Loading</a>
            <a href="/lazy" class="navbar-item">Lazy Loading</a>
            <a href="/wc" class="navbar-item">Web Components</a>
        </div>
    </div>
</nav>
