{#include common/layout.html}
<section class="content has-text-centered m-5">
    <h2>Eager Loading Demo</h2>
    <p>In this example, the page contents are updated with the entire HTML that comes from the server.</p>

    <h3>Our Cedents</h3>
    <section class="is-flex is-justify-content-center is-flex-direction-column">
        <table class="table is-striped is-hoverable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {#for cedent in cedents}
                <tr>
                    <td>{cedent.name}</td>
                    <td>
                        <button
                            role="button"
                            class="button is-danger"
                            hx-delete="eager/cedents/{cedent.name}"
                            hx-target="body"
                            hx-swap="outerHtml"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
                {/for}
            </tbody>
        </table>
        <form hx-post="eager/cedents" hx-target="body" hx-swap="outerHtml">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">New Cedent</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input
                                id="new-cedent-name"
                                class="input"
                                name="name"
                                size="20"
                                required
                                aria-required="true"
                            />
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <h3>Claims published</h3>
    <section class="is-flex is-justify-content-center">
        <table class="table is-compact is-striped is-hoverable">
            <thead>
                <tr>
                    <th>Cause</th>
                    <th>CedentId</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {#for claim in claims}
                <tr>
                    <td>{claim.cause}</td>
                    <td>{claim.cedent.name}</td>
                    <td>{claim.amount}</td>
                    <td>{claim.status}</td>
                    <td class="is-flex is-gap-1 is-justify-content-center">
                        {#if claim.status.editable}
                        <button
                            role="button"
                            class="button is-primary"
                            hx-patch="eager/claims/{claim.id}"
                            hx-vals='{ "status": "PAID" }'
                            hx-target="body"
                            hx-swap="outerHtml"
                        >
                            Pay</button
                        ><button
                            role="button"
                            class="button is-danger"
                            hx-patch="eager/claims/{claim.id}"
                            hx-vals='{ "status": "REJECTED" }'
                            hx-target="body"
                            hx-swap="outerHtml"
                        >
                            Reject
                        </button>
                        {#else}✅{/if}
                    </td>
                </tr>
                {/for}
            </tbody>
        </table>
    </section>
</section>
{/include}
