{#include common/layout.html}
<section class="content m-5">
    <h2 class="has-text-centered">Welcome to the HDA Workshop!</h2>

    <p class="has-text-centered">This workshop covers these use cases. Play around and explore.</p>
    <div class="is-flex is-justify-content-center">
        <ul>
            <li>
                <a href="/eager" class="navbar-item">Eager Loading</a>
            </li>
            <li>
                <a href="/lazy" class="navbar-item">Lazy Loading</a>
            </li>
            <li>
                <a href="/bad" class="navbar-item">Bad View</a>
            </li>
            <li>
                <a href="/does-not-exist" class="navbar-item">Page Not Found</a>
            </li>
            <li>
                <a href="/wc" class="navbar-item">Web Components</a>
            </li>
        </ul>
    </div>
</section>
{/include}
